# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python package files
*.egg
*.egg-info/
dist/
build/
*.wheel

# IDE-specific files
.vscode/
.idea/

# Playwright browser cache
playwright/.cache/

# Environment variables
.env